body{
    padding: 0;
    margin: 0;
    background-color:  #15202b;
    color: #fff;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#header img{
    height: 50px;
}

#trend_container{
    max-width: 1280px;
    margin: auto;
}

.trend{
    box-sizing: border-box;
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid #8899ac;
    background-color: #192734;
    margin-bottom: 15px;
    font-size: 20px;
    color: #d6e5f7;
}

.trend__title{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff;
}